* {
  text-align: center;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d1117;
  color: white;
  font-family: sans-serif;
  padding-top: 60px;
}

input {
  background-color: #161b22;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.7s ease;
  text-align: left;
}

input:focus {
  border-radius: 20px;
}

a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 5px;
  border-radius: 10px;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

li {
  list-style: none;
}

.spep {
  color: #999;
}

/* mobile */

@media (max-width: 900px) {
  body {
    padding-top: 35px;
  }
}