.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 105px);
  flex-direction: column;
  border-bottom: 1px solid #333;
  border-radius: 0 0 30px 30px;
  margin-bottom: 20px;
}

.hero * {
  margin: 0;
  padding: 0;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: cyan;
}

.hero p {
  font-size: 20px;
  color: #999;
  text-align: center;
  padding: 0 10px;
}

.categories p {
  padding: 10px;
}

.beyond {
  background-color: #161b22;
  padding: 20px 10px;
  margin: 20px 10px;
  border-radius: 10px;
}

.beyond h1 {
  margin-bottom: 10px;
}

.beyond p {
  color: #999;
  font-size: large;
  padding: 0 100px;
  text-align: left;
}

@media (max-width: 900px) {
  .beyond p {
    padding: 0;
    text-align: center;
  }
}